global
    user haproxy
    group haproxy
    daemon
    chroot /opt/haproxy
    maxconn 256

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

  frontend example-frontend
  bind *:80
  redirect scheme https code 301 if !{ ssl_fc }